.paragraphBox {
    margin-left:10%;
    background:none;
    width:80%;
}
h2 {
    background:none;
    font-size:200%
}
h3 {
    background:none;
    margin-left:5%;
}
h6 {
    background:none;
    margin-left:10%;
}
p {
    font-weight:bold;
    font-family: 'Courier New', monospace;
    font-size:2vh;
    background:none;
    margin-left:10%;
    margin-right:10%;
}
.gantt {
    width:100%;
    margin-bottom:5%;
}
