* {
    color:#ff3c1c;
    font-family: Helvetica, sans-serif;
}
p {
    margin:.3%;
    background:none
}
.paragraph {
    text-indent:5%;
    background:none;
}
h2 {
    background:none;
}
.paragraphBox {
    width:50%;
    margin-left:25%;
    background:none;
    line-height:2;
}
.apa-reference {
    padding-left: 36px;
    text-indent: -36px;
    background:none;
}
