* {
    background-color:black;
    font-family: Helvetica, sans-serif;
}
.ispcontainer {
    width:90%;
    margin-left:5%;
    float:left;
    height:100%;
    color:#ff3c1c;

}
.insideBox {
    width:100%;
    float:left;
    height:25%;
    text-align:left;
}
